#newTag {
    width: 84%;
    padding: 1% 4%;
}

#newTag .form-group {
    margin-bottom: 0px;
}

#newTag button.btn-blue.btn-onlyOnHover.btn-outlined.btn.btn-default.btn-block {
    width: 120px;
    background: cornsilk;
}

#newTag span.dropdown-limit.input-group {
    width: 80%;
}