footer.footer-bs
    .row
        .col-md-3.footer-brand.animated.fadeInLeft
            img#logo
            p
                | La herramienta todo en uno para intérpretes y estudiantes. Para el entrenamiento autodidacta o apoyado por la comunidad. Grábate, comparte, desafía, acepta retos... y mucho más
            p © 2016 Interpretame.com, All rights reserved
        .col-md-3.footer-nav.animated.fadeInUp
            h4 Menu —
            .col-md-6
                ul.pages
                    li
                        a(target='_blank' href='https://forums.interpretame.com/category/1/notificaciones') Blog
                    li
                        a(target='_blank' href='https://forums.interpretame.com') Forum
                    li
                        a(href='/wiki') Wiki
                    li
                        a(href='/slack') Slack
            .col-md-6
                ul.list
                    li
                        a(href='#') About Us
                    li
                        a(target='_blank' href='http://goo.gl/forms/GhPALYdoxJ4gJ9at2') Contacts
                    li
                        a(href='#') Terms & Condition
                    li
                        a(href='#') Privacy Policy
        .col-md-2.footer-social.animated.fadeInDown
            h4 Follow Us
            ul
                li
                    a(target='_blank' href='https://www.facebook.com/interpretame/') Facebook
                li
                    a(target='_blank' href='https://twitter.com/interpretamecom') Twitter
                li
                    a(target='_blank' href='https://www.youtube.com/channel/UCst1Dk0eFXQFhcdA32mfXHQ') Youtube

        .col-md-2.footer-social.animated.fadeInDown
            h4 Contribute
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHfwYJKoZIhvcNAQcEoIIHcDCCB2wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAnDIwW23zq9e4sdxBa0b0AVI0gcDPjANA/P+SmaDzKJQeHpNuRhu2zyeJynemgQR8vC6ZB7+ndIm56yckmSBIchiJ/NvKyL+KludlHhGv/6pkTQ6ijOrd+XWR6xeta4jmapWs5Bo8WU4uGNsDhMi6BScjiqbLZo5RFCrkDna1AyDELMAkGBSsOAwIaBQAwgfwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIpb81QjdR8lCAgdiUKDENa4QYil7VzQ6fGxzHgUEiP90AICsIoQu6jAWxAwXkf+QWAjAaTnkZCtB7EvfX07NWvYgAzrv1I+o7qix6eTPjX4Z6KqNOR5dp3Q0kxfg2Orfr8BhEtJYotBcvMlVTN1eEoFdhgnknS6iN1ndrBkiNOnbz6xV4TB9vf+ujZ8CqBYYhltSy3zDWKb1V+Q3bKn1MMb30hMDWkc8DBiOmwsKRoqyhSnjajOeGEwzEj2BdbqP8CBdZn9/z48ekHDUi8Apkgo0EfnlzJmn/I9T345BzwRZfojCgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzA3MDExMjU1MjFaMCMGCSqGSIb3DQEJBDEWBBTcwt9DF0SUPh7F2+6c7NRUlwnd1zANBgkqhkiG9w0BAQEFAASBgFZtbeaISuRleY6FeQVZ3xBgqxEVXwYecc7QAsP6XccP+ClzNkdposVKRpsZZQ/E96DbbQsW322NkE7QSRKCD9boXSZij4Tv5IW0MSZ1AQoOtr2o4fk04gSNO3tw+HDUZDm+rz2IBYTDdf7hirIo4qr0ljo1FI+klfrNyANvqHj3-----END PKCS7-----\
                ')
                input(type='image', src='https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal, la forma rápida y segura de pagar en Internet.')
                img(alt='', border='0', src='https://www.paypalobjects.com/es_ES/i/scr/pixel.gif', width='1', height='1')
