extends ./layout.pug

block content
    include header.pug
    include sections/carousel.pug
    include sections/services.pug
    include sections/features.pug
    include sections/team.pug
    include sections/price.pug
    include sections/faq.pug
    include sections/timeline.pug
    include footer.pug